
/*================== Générale =========================*/

@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/*navbar*/

.navbar {
  background-color: rgba(0, 0, 0, 0.493)!important;
}

.nav-link {
  color :white!important;
}

/*================== Banner =========================*/
.banner
{
  position: relative;
  width: 100%;
  height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.55;
}
.content
{
  position: relative;
  max-width: 750px;
  text-align: center;
}
.content h1 , .content h2
{
  color: #fff;
  font-size: 60px;
}
.content p
{
  color: #fff;
  font-size: 18px;
}


header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
header .logo
{
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}
header .toggle
{
  position: relative;
  width: 36px;
  height: 28px;
  background: url(toggle.png);
  background-size: cover;
  cursor: pointer;
}


/*================== About =========================*/

.about
{
  position: relative;
  width: 100%;
  display: flex;
}
.about .contentBx
{
  background: #162c3b;
  width: 50%;
  padding: 100px;
}
h2.heading
{
  color: #EBAC52;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
p.text
{
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
}
.about .imgBx
{
  background: url( ../images/portrait.jpg);
  background-size: cover;
  background-position: center;
  width: 50%;
}



/*================== Projet =========================*/

.Projet {

	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #16384c;

}

.container2
{
	position: relative;
	width: 1100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 30px 20px 10px;
}
.container2 .card
{
	max-width: 300px;
	height: 420px;
	height: 215px;
	background: #fff;
	margin: 30px 10px;
	padding: 20px 15px;
	display: flex;
	border-radius: 4px;
	flex-direction: column;
	box-shadow: 0 5px 20px rgba(0,0,0,0.5);
	transition: 0.3s ease-in-out;
}
.container2 .card:hover
{
	height: 420px;
}
.container2 .card .imgBx
{
	position: relative;
	background: #fff;
	top: -60px;
	left: 20px;
    min-width: initial;
    width: 260px;
    height: 260px;
	border-radius: 4px;
	z-index: 1;
	box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}
.container2 .card .imgBx img
{
	max-width: 100%;
	border-radius: 4px;
}
.container2 .card .content2
{
	position: relative;
	margin-top: -140px;
	padding: 10px 15px;
	text-align: center;
	color: #111;
	visibility: hidden;
	opacity: 0;
	transition: 0.3s ease-in-out;
	transition-delay: 0s;
}
.container2 .card:hover .content2
{
	visibility: visible;
	opacity: 1;
	margin-top: -40px;
	transition-delay: 0.3s;
}


/*================== Competences =========================*/


.competences
{
  background: #12222d;
  padding: 100px;
  text-align: center;
}
.competences .container
{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 60px;
}
.competences .container .competencesBx
{
  position: relative;
  background: #fff;
  width: 350px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.competences .container .competencesBx img
{
  max-width: 100px;
}
.competences .container .competencesBx h2
{
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
}
.competencesBx h2 {
  margin-top: 20%;

}



/*================== Tech =========================*/

.technology
{
  background: #3f8ffc;
  width: 100%;
  padding: 100px;
  margin-top: -300px;
  padding-top: 300px;
  min-height: 500px;
  padding-top: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.technology .contentBx
{
  max-width: 800px;
}
.technology .imgBx img
{
  max-width: 250px;
}


/*================== My Gitlab =========================*/

.mygitlab
{
  background: #162c3b;
  padding: 100px;
  text-align: center;
}
.mygitlab .imgBx
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.mygitlab .imgBx img
{
  max-width: 200px;
  margin: 20px;
  opacity: 0.25;
  cursor: pointer;
}
.mygitlab .imgBx img:hover
{
  opacity: 1;
}



/*================== Contact =========================*/

.contact
{
  padding: 100px;
  background:  #3f8ffc;
  text-align: center;
}

.contact a {
  color: #fff;
}
.contact a:hover {
  color: #9E6718;
}

.contact li {
  text-align: center;
  font-size: 50px;
  list-style:none;
}

/*================== Footer =========================*/

.footer
{
  background: #9E6718;
  padding: 20px 100px;
  text-align: center;
}

.footer h3 {
  color: #fff;
  font-size: 10px;
}

/*================== Responsive Media =========================*/


@media (max-width: 991px)
{

  h2.heading
  {
    font-size: 26px;
  }
  p.text
  {
    font-size: 15px;
  }
  header
  {
    padding: 20px 50px;
  }
  .banner
  {
    padding: 50px;
  }
  .banner h2
  {
    font-size: 36px;
  }
  .banner p
  {
    font-size: 16px;
  }
  .about
  {
    flex-direction: column;
  }
  .about .contentBx,
  .about .imgBx
  {
    padding: 50px;
    width: 100%;
    min-height: 400px;
    text-align: center;
  }
  .competences
  {
    padding: 50px;
  }
  .competences .container
  {
    justify-content: center;
    margin-top: 20px;
  }
  .competences .container .competencesBx
  {
    margin: 20px;
  }
  .competences .container .competencesBx
  {
    position: relative;
    background: #fff;
    width: 300px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .technology
  {
    padding: 50px;
    padding-top: 300px;
    justify-content: center;
    flex-direction: column;
  }
  .technology .imgBx img
  {
    margin-top: 40px;
    max-width: 250px;
  }
  .mygitlab
  {
    padding: 50px;
  }
  .mygitlab .imgBx
  {
    justify-content: center;
  }

  .contact
  {
    padding: 50px;
  }
  .footer
  {
    padding: 20px 50px;
  }

}

